#git-stats {
}

#git-stats .container .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#git-stats .container .title .square {
  position: absolute;
  height: 150px;
  width: 150px;
  background: rgba(160, 68, 212, 0.2);
  z-index: -1;
}

#git-stats .container .title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 4px;
  z-index: 1;
}

#git-stats .container .stats img {
  margin: 20px auto;
  display: block;
  border: 1px solid black;
}

@media only screen and (max-width: 507px) {
  #git-stats .container .stats img {
    width: 100%;
  }
}
