#portfolio {
  padding: 80px 15px;
}

#portfolio .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#portfolio .title .square {
  position: absolute;
  height: 150px;
  width: 150px;
  background: rgba(252, 133, 133, 0.2);
  z-index: -1;
}

#portfolio .title h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 4px;
  z-index: 1;
}

#portfolio .projects {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-row-gap: 90px;
  justify-content: space-evenly;
  border: 1px solid red;
}

#portfolio .projects > div {
  height: auto;
  border: 1px solid green;
}

#portfolio .projects div > img {
  width: 100%;
  height: 150px;
  border: 1px solid brown;
}

#portfolio .projects div > h3 {
  font-weight: 600;
  font-size: 20px;
}

#portfolio .projects div > h3 + p {
  color: grey;
  margin: 10px 0px;
  border: 1px solid royalblue;
  height: 100px;
}

#portfolio .projects div > h3 + p + p {
  font-size: 14px;
  font-weight: 300px;
  border: 1px solid royalblue;
  height: 65px;
  color: grey;
}

#portfolio .projects div > h3 + p + p b {
  font-weight: 400;
  font-size: 14px;
  color: black;
}

#portfolio .projects > div > div {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
}

#portfolio .projects button {
  background-color: royalblue;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-style: bold;
}

@media only screen and (max-width: 957px) {
  #portfolio .projects {
    grid-template-columns: repeat(2, 300px);
  }
}

@media only screen and (max-width: 642px) {
  #portfolio .projects {
    grid-template-columns: repeat(1, 300px);
  }
}
/* #portfolio .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 150px);
  grid-gap: 10px;
}

#portfolio .portfolio-container .box {
  background: black;
  display: block;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  width: 100%;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: black;
  overflow: hidden; 
}

#portfolio .portfolio-container .box:hover {
  background: rgba(255, 255, 255, 1);
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  -webkit-box-shadow: 1px 31px 83px 28px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 31px 83px 28px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 31px 83px 28px rgba(0, 0, 0, 0.24);
}

#portfolio .portfolio-container .box.image1 .image {
  background: url("https://cdn.dribbble.com/userupload/4269261/file/original-e908db2c5e6896087458979f9ffb4a92.png?compress=1&resize=1024x768");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  grid-column: 1/3;
  grid-row: 1/2;
}

#portfolio .portfolio-container .box .image .hover-bg {
  background: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
  height: 100%;
  width: 100%;
}

#portfolio .portfolio-container .box:hover .image .hover-bg {
  background: rgb(252, 56, 56,0.8);
  border-radius: 5px;
  padding: 10px 20px;
}

#portfolio .portfolio-container .box .image .hover-bg .title  {
   height: 100%;
   width:100%;
  }

#portfolio .portfolio-container .box .image .hover-bg .title .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 400px, 0);
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}

#portfolio .portfolio-container .box:hover .image .hover-bg .title .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in-out;
  opacity: 1;
}





#portfolio .portfolio-container .box.image1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

#portfolio .portfolio-container .box.image1 .image {
  background: url("https://cdn.dribbble.com/userupload/4269261/file/original-e908db2c5e6896087458979f9ffb4a92.png?compress=1&resize=1024x768");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 
}

#portfolio .portfolio-container .box.image2 {
  grid-column: 3/4;
  grid-row: 1/4;
}

#portfolio .portfolio-container .box.image2 .image {
  background: url("https://cdn.dribbble.com/users/11160433/screenshots/19789268/animation_grid_icon_sport.png?compress=1&resize=450x338&vertical=top");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}


#portfolio .portfolio-container .box.image3 {
  grid-column: 1/2;
  grid-row: 2/4;
}

#portfolio .portfolio-container .box.image3 .image {
  background: url("https://cdn.dribbble.com/users/1106204/screenshots/7063847/web-design-gif--final.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}



#portfolio .portfolio-container .box.image4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#portfolio .portfolio-container .box.image4 .image {
  background: url("https://cdn.dribbble.com/users/527354/screenshots/3934288/media/1336d7840838fd51240e433d2a522fc0.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}



#portfolio .portfolio-container .box.image5 {
  grid-column: 1/2;
  grid-row: 4/6;
}

#portfolio .portfolio-container .box.image5 .image {
  background: url("https://cdn.dribbble.com/users/1710340/screenshots/3900248/3.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}



#portfolio .portfolio-container .box.image6 {
  grid-column: 2/3;
  grid-row: 3/6;
}

#portfolio .portfolio-container .box.image6 .image {
  background: url("https://media3.giphy.com/media/GH577yqHqDKJIlU0KB/giphy.webp?cid=82a1493bapyxuwv0b976i4rdulwvk5287sx4vzgbe4g56cgu&rid=giphy.webp&ct=g");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}



#portfolio .portfolio-container .box.image7 {
  grid-column: 3/4;
  grid-row: 4/6;
}

#portfolio .portfolio-container .box.image7 .image {
  background: url("https://media1.giphy.com/media/Swm74hCVKRQvI93UKQ/200w.gif?cid=ecf05e47rhlvot3onadxqt8l9gqyglon1b4xwjc6akmz3l0l&rid=200w.gif&ct=g");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}





@media only screen and (max-width:960px){


  #portfolio .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 150px);
    grid-gap: 20px;
  }

  #portfolio .portfolio-container .box.image1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #portfolio .portfolio-container .box.image2{
    grid-column: 2/3;
    grid-row: 1/2;
  } 

  #portfolio .portfolio-container .box.image3{
    grid-column: 3/4;
    grid-row: 1/2;
  }

  #portfolio .portfolio-container .box.image4{
    grid-column: 1/4;
    grid-row: 2/3;
  }
  #portfolio .portfolio-container .box.image5{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #portfolio .portfolio-container .box.image6{
    grid-column: 2/3;
    grid-row: 3/4;
  }

  #portfolio .portfolio-container .box.image7{
    grid-column: 3/4;
    grid-row: 3/4;
  }
  
  
}


@media only screen and (max-width:767px){
   
  #portfolio .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 150px);
    grid-gap: 20px;
  }

  #portfolio .portfolio-container .box {
    border:1px solid black;
  }

  #portfolio .portfolio-container .box.image1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #portfolio .portfolio-container .box.image2{
    grid-column: 2/3;
    grid-row: 2/3;
  } 

  #portfolio .portfolio-container .box.image3{
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #portfolio .portfolio-container .box.image4{
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #portfolio .portfolio-container .box.image5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  #portfolio .portfolio-container .box.image6{
    grid-column: 2/3;
    grid-row: 6/7;
  }

  #portfolio .portfolio-container .box.image7{
    grid-column: 1/2;
    grid-row: 7/8;
  }


} */
