#top {
}

#top .container {
  display: grid;
  /* border: 1px solid red; */

  grid-template-columns: 1fr 1fr;
  padding-top: 100px;

  align-items: center;
}

#top .info {
  padding: 30px;
  position: relative;
  /* border: 1px solid green; */
}

#top .info .blue-square {
  position: absolute;
  border: solid 10px rgba(150, 224, 244, 0.7);
  width: 354px;
  height: 351px;
  z-index: -1;
  top: -45%;
  left: -1%;
}

#top .info h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.9rem;
}

#top .info p {
  color: grey;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

#top .info a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #000;
  letter-spacing: 2px;
}

#top .info .profiles {
  /* display:flex; 
  border:1px solid red; 
  margin:auto; 
  height:5px; 
  width:5px; */
  position: absolute;
  display: flex;
  border: 0px solid red;
  height: 50px;
  width: 50%;
  justify-content: space-between;
  top: 96%;
}

#top .info .profiles > div {
  border: 0px solid red;
  height: 50px;
  width: 50px;
}

#top .info .profiles > div:hover {
}

#top .info .profiles > div i {
  font-size: 40px;
}

#top .info .profiles > div i:hover {
  color: rgba(150, 224, 244, 0.7);
  transition: 0.4s;
}

#top .info .profiles > div a {
  text-decoration: none;
}

#top .img {
  /* border: 1px solid blue; */
  margin: auto;
}

#top .img > img {
  height: 500px;
  width: 375px;
  border-radius: 20px;
}

/*Tablets*/
@media only screen and (max-width: 960px) {
  #top .container {
  }

  #top .info .blue-square {
    display: none;
  }

  #top .img .background-img {
    height: 100vh;
  }
}

@media only screen  and (max-width: 839px) {
  #top .info h1 {
    font-size: 1.4rem;
  } 

  #top .info .profiles > div i {
    font-size: 30px;
  }
}

/*Phones*/
@media only screen and (max-width: 767px) {
  

  #top .img > img {
    height: 475px;
    width: 350px;
    margin: 20px 0;
    border-radius: 20px;
  }

  #top .info .profiles {
    position: absolute;
    display: flex;
    border: 0px solid red;
    height: 50px;
    width: 50%;
    justify-content: space-between;
    
  }

  #top .info .blue-square {
    display: none;
  }

  #top .img .background-img {
    height: 100vh;
  }
}

/* Do not touch this */
@media only screen and (min-width: 200px) and (max-width: 700px) { 

  #top .container {
    display: flex;
    flex-direction: column;
  }

  #top .img > img {
    height: 400px;
    width: 300px;
  }

  #top .info h1 {
    font-size: 1.4rem;
  }

  #top .info .profiles > div i {
    font-size: 30px;
  }

  #top .info .profiles {
    top:67%;    
  }
}
